table {
    width: 100%;
    color: #F4F4F4;
}

thead {
    background-color: #222;
}

tbody tr:nth-child(odd) {
    background-color: #AAA;
}

tbody tr:nth-child(even) {
    background-color: #777;
}